# Copyright (c) 2017-2025, Lawrence Livermore National Security, LLC and
# Axom Project Developers. See the top-level LICENSE file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)

spack:
  config:
    install_tree:
      root: $spack/..
      projections:
        all: '{compiler.name}-{compiler.version}/{name}-{version}-{hash}'
    misc_cache: $spack/../misc_cache
    test_stage: $spack/../test_stage
    build_stage::
    - $spack/../build_stage

  # Regular TPLs do not need views
  view: false

  include:
  - ../defaults.yaml
  - ../versions.yaml

  toolchains:
    rocm_6_4_2:
    - spec: '%c=llvm-amdgpu@6.4.2'
      when: '%c'
    - spec: '%cxx=llvm-amdgpu@6.4.2'
      when: '%cxx'
    - spec: '%fortran=llvm-amdgpu@6.4.2'
      when: '%fortran'
    - spec: '%cray-mpich@8.1.29.rocm_6_4_2'
      when: '%mpi'
    rocm_6_3_1:
    - spec: '%c=llvm-amdgpu@6.3.1'
      when: '%c'
    - spec: '%cxx=llvm-amdgpu@6.3.1'
      when: '%cxx'
    - spec: '%fortran=llvm-amdgpu@6.3.1'
      when: '%fortran'
    - spec: '%cray-mpich@8.1.29.rocm_6_3_1'
      when: '%mpi'
    cce_20:
    - spec: '%c=cce@20.0.0'
      when: '%c'
    - spec: '%cxx=cce@20.0.0'
      when: '%cxx'
    - spec: '%fortran=cce@20.0.0'
      when: '%fortran'
    - spec: '%cray-mpich@8.1.32.cce_20'
      when: '%mpi'

  packages:
    all:
      providers:
        blas: [netlib-lapack]
        lapack: [netlib-lapack]
        mpi: [cray-mpich]
        zlib-api: [zlib]

    # Compiler packages
    # Target specific AMD GPU architectures for specific machines:
    #
    # - Use amdgpu_target=gfx942 for rzadams
    # - Use amdgpu_target=gfx90a for tioga/rzvernal
    # - Use amdgpu_target=gfx908 for rznevada
    llvm-amdgpu:
      externals:
      - spec: llvm-amdgpu@6.3.1
        prefix: /opt/rocm-6.3.1/llvm
        extra_attributes:
          compilers:
            c: /opt/rocm-6.3.1/llvm/bin/amdclang
            cxx: /opt/rocm-6.3.1/llvm/bin/amdclang++
            fortran: /opt/rocm-6.3.1/llvm/bin/amdflang
          flags:
            fflags: -Mfreeform
          environment: {}
          extra_rpaths: []
      - spec: llvm-amdgpu@6.4.2
        prefix: /opt/rocm-6.4.2/llvm
        extra_attributes:
          compilers:
            c: /opt/rocm-6.4.2/llvm/bin/amdclang
            cxx: /opt/rocm-6.4.2/llvm/bin/amdclang++
            fortran: /opt/rocm-6.4.2/llvm/bin/amdflang
          flags:
            fflags: -Mfreeform
          environment: {}
          extra_rpaths: []

    cce:
      externals:
      - spec: cce@20.0.0
        prefix: /usr/tce/packages/cce-tce/cce-20.0.0
        extra_attributes:
          compilers:
            c: /usr/tce/packages/cce-tce/cce-20.0.0/bin/craycc
            cxx: /usr/tce/packages/cce-tce/cce-20.0.0/bin/crayCC
            fortran: /usr/tce/packages/cce-tce/cce-20.0.0/bin/crayftn
          # Flag for lowercase Fortran module names
          flags:
            fflags: -ef
          environment: {}
          extra_rpaths: []


    hip:
      # version: [6.3.1, 6.4.2]
      buildable: false
      externals:
      - spec: hip@6.3.1
        prefix: /opt/rocm-6.3.1
      - spec: hip@6.4.2
        prefix: /opt/rocm-6.4.2

    hipblas:
      buildable: false
      externals:
      - spec: hipblas@6.3.1
        prefix: /opt/rocm-6.3.1
      - spec: hipblas@6.4.2
        prefix: /opt/rocm-6.4.2

    hipsparse:
      buildable: false
      externals:
      - spec: hipsparse@6.3.1
        prefix: /opt/rocm-6.3.1
      - spec: hipsparse@6.4.2
        prefix: /opt/rocm-6.4.2

    hsa-rocr-dev:
      buildable: false
      externals:
      - spec: hsa-rocr-dev@6.3.1
        prefix: /opt/rocm-6.3.1/
      - spec: hsa-rocr-dev@6.4.2
        prefix: /opt/rocm-6.4.2

    rocblas:
      buildable: false
      externals:
      - spec: rocblas@6.3.1
        prefix: /opt/rocm-6.3.1/
      - spec: rocblas@6.4.2
        prefix: /opt/rocm-6.4.2/

    rocminfo:
      buildable: false
      externals:
      - spec: rocminfo@6.3.1
        prefix: /opt/rocm-6.3.1
      - spec: rocminfo@6.4.2
        prefix: /opt/rocm-6.4.2

    rocprim:
      buildable: false
      externals:
      - spec: rocprim@6.3.1
        prefix: /opt/rocm-6.3.1/
      - spec: rocprim@6.4.2
        prefix: /opt/rocm-6.4.2

    rocm-device-libs:
      buildable: false
      externals:
      - spec: rocm-device-libs@6.3.1
        prefix: /opt/rocm-6.3.1/
      - spec: rocm-device-libs@6.4.2
        prefix: /opt/rocm-6.4.2

    # Lock down which MPI we are using
    mpi:
      buildable: false

    cray-mpich:
      buildable: false
      externals:
      - spec: cray-mpich@8.1.29.rocm_6_3_1+slurm
        prefix: /usr/tce/packages/cray-mpich-tce/cray-mpich-8.1.29-rocmcc-6.3.1/
      - spec: cray-mpich@8.1.29.rocm_6_4_2+slurm
        prefix: /usr/tce/packages/cray-mpich-tce/cray-mpich-8.1.29-rocmcc-6.4.2/
      - spec: cray-mpich@8.1.32.cce_20+slurm
        prefix: /usr/tce/packages/cray-mpich-tce/cray-mpich-8.1.32-rocmcc-6.4.2-cce-20.0.0/

    # blas is a bit more complicated because its a virtual package so fake it with
    # the following per spack docs
    netlib-lapack:
      buildable: false
      externals:
      - spec: netlib-lapack@3.6.1
        prefix: /usr

    # System level packages to not build
    autoconf:
      buildable: false
      externals:
      - spec: autoconf@2.69
        prefix: /usr
    automake:
      buildable: false
      externals:
      - spec: automake@1.13.4
        prefix: /usr
    binutils:
      buildable: false
      externals:
      - spec: binutils@2.27
        prefix: /usr
    bzip2:
      buildable: false
      externals:
      - spec: bzip2@1.0.6
        prefix: /usr
    curl:
      buildable: false
      externals:
      - spec: curl@7.61.1
        prefix: /usr
    diffutils:
      buildable: false
      externals:
      - spec: diffutils@3.3
        prefix: /usr
    elfutils:
      buildable: false
      externals:
      - spec: elfutils@0.176
        prefix: /usr
    epoxy:
      buildable: false
      externals:
      - spec: epoxy@1.5.2
        prefix: /usr
    findutils:
      buildable: false
      externals:
      - spec: findutils@4.5.11
        prefix: /usr
    gettext:
      buildable: false
      externals:
      - spec: gettext@0.19.8.1
        prefix: /usr
    ghostscript:
      buildable: false
      externals:
      - spec: ghostscript@9.25
        prefix: /usr
    git:
      buildable: false
      externals:
      - spec: git@2.45.0
        prefix: /collab/usr/global/tools/tce4/opt/git-2.45.0
    gmake:
      buildable: false
      externals:
      - spec: gmake@4.2.1
        prefix: /usr
    groff:
      buildable: false
      externals:
      - spec: groff@1.22.2
        prefix: /usr
    graphviz:
      buildable: false
      externals:
      - spec: graphviz@2.30.1
        prefix: /usr
    libtool:
      buildable: false
      externals:
      - spec: libtool@2.4.2
        prefix: /usr
    # NOTE: disabled since fails to link inside caliper
    # libunwind:
    #   buildable: false
    #   externals:
    #   - spec: libunwind@8.0.1
    #     prefix: /usr
    libx11:
      buildable: false
      externals:
      - spec: libx11@1.20.4
        prefix: /usr
    m4:
      buildable: false
      externals:
      - spec: m4@1.4.16
        prefix: /usr
    ncurses:
      externals:
      - spec: ncurses@6.1.20180224+termlib abi=6
        prefix: /usr
      buildable: false
    perl:
      buildable: false
      externals:
      - spec: perl@5.16.3
        prefix: /usr
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@0.27.1
        prefix: /usr
    readline:
      buildable: false
      externals:
      - spec: readline@6.2
        prefix: /usr
    tar:
      buildable: false
      externals:
      - spec: tar@1.26
        prefix: /usr
    unzip:
      buildable: false
      externals:
      - spec: unzip@6.0
        prefix: /usr

    # External dependencies for opencascade
    # libx* versions found via `strings /path/to/libx*.so
    mesa:
      buildable: False
      externals:
      - spec: mesa@23.1.4  # found via: glxinfo | grep -i version
        prefix: /
    libxi:
      buildable: False
      externals:
      - spec: libxi@1.7.10
        prefix: /
    libxt:
      buildable: False
      externals:
      - spec: libxt@1.1.5
        prefix: /
    libxext:
      buildable: False
      externals:
      - spec: libxext@1.3.4
        prefix: /
    libxmu:
      buildable: False
      externals:
      - spec: libxmu@1.1.3
        prefix: /

    # External dependencies for SCR
    lsf:
      buildable: False
      externals:
      - spec: lsf@10.1
        prefix: /opt/ibm/spectrumcomputing/lsf/10.1
    slurm:
      buildable: false
      externals:
      - spec: slurm@20
        prefix: /usr
    libyogrt:
      externals:
      - spec: libyogrt@1.24 scheduler=lsf
        prefix: /usr
      - spec: libyogrt@1.24 scheduler=slurm
        prefix: /usr
    pdsh:
      buildable: false
      externals:
      - spec: pdsh@2.33
        prefix: /usr

    # Failure with cce compiler:
    # https://github.com/besser82/libxcrypt/issues/181
    # Fix:
    # https://github.com/NixOS/nixpkgs/pull/309884
    libxcrypt:
      require:
      - ldflags=-Wl,--undefined-version

    # Some additional platform-specific constraints for third party libraries
    umpire:
      require:
      - spec: "~shared"
    # cce compiler requires static zlib
    zlib:
      require:
      - spec: "~shared"

    # Lock in versions of Devtools
    # Devtools are built on rzvernal for compatibility with both
    # rzvernal and rzadams.
    cmake:
      version: [3.24.2]
      buildable: false
      externals:
      - spec: cmake@3.24.2
        prefix: /usr/tce
    py-shroud:
      version: [0.14.0]
      buildable: false
      externals:
      - spec: py-shroud@0.14.0
        prefix: /collab/usr/gapps/shroud/public/toss_4_x86_64_ib_cray/shroud-0.14.0
    cppcheck:
      version: [2.18]
      buildable: false
      externals:
      - spec: cppcheck@2.18.0
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/gcc-13.3.1/cppcheck-2.18.0-prdufaymm4rf6ugi5f2miqbjclhekg6w
    doxygen:
      version: [1.13.2]
      buildable: false
      externals:
      - spec: doxygen@1.13.2
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/view/doxygen-1.13.2
    py-sphinx:
      version: [8.0.2]
      buildable: false
      externals:
      - spec: py-sphinx@8.0.2
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/view/python-3.13.5
    python:
      buildable: false
      externals:
      - spec: python@3.13.5
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/view/python-3.13.5
    llvm:
      version: [19.0.0]
      buildable: false
      externals:
      - spec: llvm@19.0.0
        prefix: /usr/tce/packages/rocmcc/rocmcc-6.4.2-magic/llvm

    # Other python externals built by devtools for conduit
    py-pytest:
      buildable: false
      externals:
      - spec: py-pytest@8.2.1
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/view/python-3.13.5
    py-jsonschema:
      buildable: false
      externals:
      - spec: py-jsonschema@4.17.3
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/view/python-3.13.5
    python-venv:
      buildable: false
      externals:
      - spec: python-venv@1.0
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/view/python-3.13.5
    py-pyproject-metadata:
      buildable: false
      externals:
      - spec: py-pyproject-metadata@0.17.1
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/view/python-3.13.5
    py-meson-python:
      buildable: false
      externals:
      - spec: py-meson-python@0.16.0
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/view/python-3.13.5
    py-numpy:
      buildable: false
      externals:
      - spec: py-numpy@2.3.2
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/2025_09_25_12_05_48/view/python-3.13.5
