.DS_Store
.ipynb_checkpoints
docs/tutorials/weave_demos_venv/
docs/tutorials/Public/bouncing_ball/output
docs/tutorials/Public/bouncing_ball_vvuq/data
docs/tutorials/Public/bouncing_ball_lstm/images
ball-bounce-lstm_[0-9]*
ball-bounce-transformer_[0-9]*
ball-bounce-metadata-machine-learning_[0-9]*
__pycache__/
*.sqlite
*.hdf5