# Python
**/__pycache__/
eval/__pycache__/
src/napari_socket/__pycache__/
src/napari_mcp/__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582
__pypackages__/

# napari-mcp specific
src/napari_socket/napari_socket.egg-info/

eval/data