# Copyright (c) 2017-2025, Lawrence Livermore National Security, LLC and
# Axom Project Developers. See the top-level LICENSE file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)

spack:
  config:
    install_tree:
      root: $spack/..
      projections:
        all: '{compiler.name}-{compiler.version}/{name}-{version}-{hash}'
    misc_cache: $spack/../misc_cache
    test_stage: $spack/../test_stage
    build_stage::
    - $spack/../build_stage

  # Regular TPLs do not need views
  view: false

  include:
  - ../defaults.yaml
  - ../versions.yaml

  toolchains:
    clang_19:
    - spec: '%c=llvm'
      when: '%c'
    - spec: '%cxx=llvm'
      when: '%cxx'
    - spec: '%fortran=gcc'
      when: '%fortran'
    - spec: '%mvapich2@2.3.7.clang_19'
      when: '%mpi'
    gcc_13:
    - spec: '%c=gcc'
      when: '%c'
    - spec: '%cxx=gcc'
      when: '%cxx'
    - spec: '%fortran=gcc'
      when: '%fortran'
    - spec: '%mvapich2@2.3.7.gcc_13'
      when: '%mpi'
    intel_25:
    - spec: '%c=intel-oneapi-compilers@2025.2.0'
      when: '%c'
    - spec: '%cxx=intel-oneapi-compilers@2025.2.0'
      when: '%cxx'
    - spec: '%fortran=intel-oneapi-compilers@2025.2.0'
      when: '%fortran'
    - spec: '%mvapich2@2.3.7.intel_25'
      when: '%mpi'

  packages:
    all:
      # This defaults us to machine specific flags of ivybridge which allows
      # us to run on broadwell as well
      target: [ivybridge]
      providers:
        blas: [openblas]
        lapack: [netlib-lapack]
        mpi: [mvapich2]
        gl: [opengl]
        glu: [openglu]
        zlib-api: [zlib]

    #Compiler packages
    gcc:
      externals:
      - spec: gcc@13.3.1 languages:=c,c++,fortran
        prefix: /usr/tce/packages/gcc/gcc-13.3.1
        extra_attributes:
          compilers:
            c: /usr/tce/packages/gcc/gcc-13.3.1/bin/gcc
            cxx: /usr/tce/packages/gcc/gcc-13.3.1/bin/g++
            fortran: /usr/tce/packages/gcc/gcc-13.3.1/bin/gfortran
    llvm:
      externals:
      - spec: llvm@19.1.3+clang~lld~lldb
        prefix: /usr/tce/packages/clang/clang-19.1.3
        extra_attributes:
          compilers:
            c: /usr/tce/packages/clang/clang-19.1.3-magic/bin/clang
            cxx: /usr/tce/packages/clang/clang-19.1.3-magic/bin/clang++
          flags:
            fflags: -fPIC
    intel-oneapi-compilers:
      externals:
      - spec: intel-oneapi-compilers@2025.2.0
        prefix: /usr/tce/packages/intel/intel-2025.2.0
        extra_attributes:
          compilers:
            c: /usr/tce/packages/intel/intel-2025.2.0-magic/bin/icx
            cxx: /usr/tce/packages/intel/intel-2025.2.0-magic/bin/icpx
            fortran: /usr/tce/packages/intel/intel-2025.2.0-magic/bin/ifx
          flags: {}
          environment: {}
          extra_rpaths: []

    openblas:
      buildable: false
      externals:
      - prefix: /usr
        spec: openblas@0.3.15
    opengl:
      buildable: false
      externals:
      - spec: opengl@1.7.0
        prefix: /usr
    openglu:
      buildable: false
      externals:
      - spec: openglu@1.3.1
        prefix: /usr
    mesa:
      buildable: False
      externals:
      - spec: mesa@23.1.4  # found via: glxinfo | grep -i version
        prefix: /usr          
    libxi:
      buildable: False
      externals:
      - spec: libxi@1.7.10 # found via: strings /usr/lib64/libXi.so | grep -i "libXi"
        prefix: /usr
    libxt:
      buildable: False
      externals:
      - spec: libxt@1.1.5 # found via: strings /usr/lib64/libXt.so | grep -i "libXt"
        prefix: /usr
    libxext:
      buildable: False
      externals:
      - spec: libxext@1.3.4 # found via: strings /usr/lib64/libXext.so | grep -i "libXext"
        prefix: /usr
    libxmu:
      buildable: False
      externals:
      - spec: libxmu@1.1.3 # found via: strings /usr/lib64/libXmu.so | grep -i "libXmu"
        prefix: /usr

    # Lock down which MPI we are using
    mpi:
      buildable: false
    mvapich2:
      buildable: false
      externals:
      - spec: mvapich2@2.3.7.clang_19~alloca~cuda~debug~hwloc_graphics~hwlocv2+regcache+wrapperrpath build_system=autotools ch3_rank_bits=32 fabrics=mrail file_systems=auto process_managers=slurm threads=multiple
        prefix: /usr/tce/packages/mvapich2/mvapich2-2.3.7-clang-19.1.3
      - spec: mvapich2@2.3.7.gcc_13~alloca~cuda~debug~hwloc_graphics~hwlocv2+regcache+wrapperrpath build_system=autotools ch3_rank_bits=32 fabrics=mrail file_systems=auto process_managers=slurm threads=multiple
        prefix: /usr/tce/packages/mvapich2/mvapich2-2.3.7-gcc-13.3.1
      - spec: mvapich2@2.3.7.intel_25~alloca~cuda~debug~hwloc_graphics~hwlocv2+regcache+wrapperrpath build_system=autotools ch3_rank_bits=32 fabrics=mrail file_systems=auto process_managers=slurm threads=multiple
        prefix: /usr/tce/packages/mvapich2/mvapich2-2.3.7-intel-2025.2.0

    cuda:
      buildable: False
      externals:
      - spec: cuda@12.9.1 +allow-unsupported-compilers
        prefix: /usr/tce/packages/cuda/cuda-12.9.1

    netlib-lapack:
      buildable: false
      externals:
      - spec: netlib-lapack@3.8.0
        prefix: /usr

    # System level packages to not build
    autoconf:
      buildable: false
      externals:
      - spec: autoconf@2.69
        prefix: /usr
    automake:
      buildable: false
      externals:
      - spec: automake@1.16.1
        prefix: /usr
    binutils:
      buildable: false
      externals:
      - spec: binutils@2.30
        prefix: /usr
    bison:
      buildable: false
      externals:
      - spec: bison@3.0.4
        prefix: /usr
    bzip2:
      buildable: false
      externals:
      - spec: bzip2@1.0.6
        prefix: /usr
    curl:
      buildable: false
      externals:
      - spec: curl@7.29.0
        prefix: /usr
    diffutils:
      buildable: false
      externals:
      - spec: diffutils@3.6
        prefix: /usr
    elfutils:
      buildable: false
      externals:
      - spec: elfutils@0.187
        prefix: /usr
    expat:
      buildable: false
      externals:
      - spec: expat@2.2.5
        prefix: /usr
    libepoxy:
      buildable: false
      externals:
      - spec: libepoxy@1.5.8
        prefix: /usr
    flex:
      buildable: false
      externals:
      - spec: flex@2.6.1
        prefix: /usr
    findutils:
      buildable: false
      externals:
      - spec: findutils@4.6.0
        prefix: /usr
    gettext:
      buildable: false
      externals:
      - spec: gettext@0.19.8.1
        prefix: /usr
    ghostscript:
      buildable: false
      externals:
      - spec: ghostscript@9.27
        prefix: /usr
    git:
      buildable: false
      externals:
      - spec: git@2.45.0
        prefix: /collab/usr/global/tools/tce4/opt/git-2.45.0
    gmake:
      buildable: false
      externals:
      - spec: gmake@4.2.1
        prefix: /usr
    graphviz:
      buildable: false
      externals:
      - spec: graphviz@2.40.1
        prefix: /usr
    groff:
      buildable: false
      externals:
      - spec: groff@1.22.2
        prefix: /usr
    hwloc:
      buildable: false
      externals:
      - spec: hwloc@2.9.0
        prefix: /usr
    libtool:
      buildable: false
      externals:
      - spec: libtool@2.4.6
        prefix: /usr
    # NOTE: removed since fails on clang builds
    # libunwind:
    #   buildable: false
    #   externals:
    #   - spec: libunwind@1.3.1
    #     prefix: /usr
    libx11:
      buildable: false
      externals:
      - spec: libx11@1.6.8
        prefix: /usr
    lua:
      buildable: false
      externals:
      - spec: lua@5.3.4
        prefix: /usr
    m4:
      buildable: false
      externals:
      - spec: m4@1.4.18
        prefix: /usr
    ninja:
      buildable: false
      externals:
      - spec: ninja@1.11.0
        prefix: /usr/tce/packages/ninja/ninja-1.11.0
    openssl:
      buildable: false
      externals:
      - spec: openssl@1.1.1k
        prefix: /usr
    perl:
      buildable: false
      externals:
      - spec: perl@5.26.3
        prefix: /usr
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@1.4.2
        prefix: /usr
    readline:
      buildable: false
      externals:
      - spec: readline@7.0
        prefix: /usr
    slurm:
      buildable: false
      externals:
      - spec: slurm@24.05.5
        prefix: /usr
    swig:
      buildable: false
      externals:
      - spec: swig@3.0.12
        prefix: /usr
    tar:
      buildable: false
      externals:
      - spec: tar@1.30
        prefix: /usr
    unzip:
      buildable: false
      externals:
      - spec: unzip@6.0
        prefix: /usr
    zlib:
      buildable: false
      externals:
      - spec: zlib@1.2.11
        prefix: /usr

    # Some additional platform-specific constraints for third party libraries
    libyogrt:
      require:
      - spec: "scheduler=slurm"
    umpire:
      require:
      - spec: "~shared"

  # Lock in versions of Devtools
    cmake:
      version: [3.23.1]
      buildable: false
      externals:
      - spec: cmake@3.23.1
        prefix: /usr/tce
    cppcheck:
      version: [2.18.0]
      buildable: false
      externals:
      - spec: cppcheck@2.18.0
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/gcc-13.3.1/cppcheck-2.18.0-d2tmb7ls2d5vgh6vhcyohecwcu6msopb/
    doxygen:
      version: [1.13.2]
      buildable: false
      externals:
      - spec: doxygen@1.13.2
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/view/doxygen-1.13.2
    py-shroud:
      version: [0.14.0]
      buildable: false
      externals:
      - spec: py-shroud@0.14.0
        prefix: /collab/usr/gapps/shroud/public/toss_4_x86_64_ib/shroud-0.14.0
    py-sphinx:
      version: [4.4.0]
      buildable: false
      externals:
      - spec: py-sphinx@4.4.0
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/view/python-3.13.5/
    python:
      buildable: false
      externals:
      - spec: python@3.13.5
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/view/python-3.13.5/

    # Other python externals built by devtools for conduit
    py-pytest:
      buildable: false
      externals:
      - spec: py-pytest@8.2.1
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/view/python-3.13.5/
    py-jsonschema:
      buildable: false
      externals:
      - spec: py-jsonschema@4.17.3
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/view/python-3.13.5/
    python-venv:
      buildable: false
      externals:
      - spec: python-venv@1.0
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/view/python-3.13.5/
    py-pyproject-metadata:
      buildable: false
      externals:
      - spec: py-pyproject-metadata@0.17.1
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/view/python-3.13.5/
    py-meson-python:
      buildable: false
      externals:
      - spec: py-meson-python@0.16.0
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/view/python-3.13.5/
    py-numpy:
      buildable: false
      externals:
      - spec: py-numpy@2.3.2
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib/2025_09_25_11_33_37/view/python-3.13.5/
