# Copyright (c) 2017-2025, Lawrence Livermore National Security, LLC and
# other Tribol Project Developers. See the top-level LICENSE file for details.
#
# SPDX-License-Identifier: (MIT)

spack:
  config:
    install_tree:
      root: $spack/..
      projections:
        all: '{compiler.name}-{compiler.version}/{name}-{version}-{hash}'
    misc_cache: $spack/../misc_cache
    test_stage: $spack/../test_stage
    build_stage::
    - $spack/../build_stage

  # Regular TPLs do not need views
  view: false

  include:
    - ../defaults.yaml
    - ../versions.yaml

  compilers::
  - compiler:
      environment: {}
      extra_rpaths: []
      flags:
        fflags: -Mfreeform
      modules: []
      operating_system: rhel8
      paths:
        cc: /opt/rocm-6.2.1/llvm/bin/amdclang
        cxx: /opt/rocm-6.2.1/llvm/bin/amdclang++
        f77: /opt/rocm-6.2.1/llvm/bin/amdflang
        fc: /opt/rocm-6.2.1/llvm/bin/amdflang
      spec: rocmcc@=6.2.1
      target: x86_64
  - compiler:
      environment: {}
      extra_rpaths: []
      flags:
        fflags: -Mfreeform
      modules: []
      operating_system: rhel8
      paths:
        cc: /opt/rocm-6.3.1/llvm/bin/amdclang
        cxx: /opt/rocm-6.3.1/llvm/bin/amdclang++
        f77: /opt/rocm-6.3.1/llvm/bin/amdflang
        fc: /opt/rocm-6.3.1/llvm/bin/amdflang
      spec: rocmcc@=6.3.1
      target: x86_64

  packages:
    all:
      compiler: [gcc, intel, pgi, clang, xl, nag]
      providers:
        blas: [netlib-lapack]
        lapack: [netlib-lapack]
        mpi: [cray-mpich]

    hip:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: hip@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: hip@6.3.1
        prefix: /opt/rocm-6.3.1

    hipsparse:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: hipsparse@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: hipsparse@6.3.1
        prefix: /opt/rocm-6.3.1

    llvm-amdgpu:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: llvm-amdgpu@6.2.1
        prefix: /opt/rocm-6.2.1/llvm
      - spec: llvm-amdgpu@6.3.1
        prefix: /opt/rocm-6.3.1/llvm

    hsa-rocr-dev:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: hsa-rocr-dev@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: hsa-rocr-dev@6.3.1
        prefix: /opt/rocm-6.3.1

    rocblas:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: rocblas@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: rocblas@6.3.1
        prefix: /opt/rocm-6.3.1

    hipblas:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: hipblas@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: hipblas@6.3.1
        prefix: /opt/rocm-6.3.1

    rocm-core:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: rocm-core@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: rocm-core@6.3.1
        prefix: /opt/rocm-6.3.1
        
    rocrand:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: rocrand@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: rocrand@6.3.1
        prefix: /opt/rocm-6.3.1

    rocminfo:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: rocminfo@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: rocminfo@6.3.1
        prefix: /opt/rocm-6.3.1

    rocsolver:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: rocsolver@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: rocsolver@6.3.1
        prefix: /opt/rocm-6.3.1

    rocsparse:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: rocsparse@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: rocsparse@6.3.1
        prefix: /opt/rocm-6.3.1

    rocthrust:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: rocthrust@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: rocthrust@6.3.1
        prefix: /opt/rocm-6.3.1

    rocprim:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: rocprim@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: rocprim@6.3.1
        prefix: /opt/rocm-6.3.1

    rocm-device-libs:
      version: [6.2.1, 6.3.1]
      buildable: false
      externals:
      - spec: rocm-device-libs@6.2.1
        prefix: /opt/rocm-6.2.1
      - spec: rocm-device-libs@6.3.1
        prefix: /opt/rocm-6.3.1

    # Lock down which MPI we are using
    mpi:
      buildable: false
    cray-mpich:
      buildable: false
      externals:
      - spec: cray-mpich@8.1.29%rocmcc@6.2.1+slurm
        prefix: /usr/tce/packages/cray-mpich-tce/cray-mpich-8.1.29-rocmcc-6.2.1
      - spec: cray-mpich@8.1.29+slurm %rocmcc@6.3.1
        prefix: /usr/tce/packages/cray-mpich-tce/cray-mpich-8.1.29-rocmcc-6.3.1

    # blas is a bit more complicated because its a virtual package so fake it with
    # the following per spack docs
    netlib-lapack:
      buildable: false
      externals:
      - spec: netlib-lapack@3.6.1
        prefix: /usr

    # System level packages to not build
    autoconf:
      buildable: false
      externals:
      - spec: autoconf@2.69
        prefix: /usr
    automake:
      buildable: false
      externals:
      - spec: automake@1.13.4
        prefix: /usr
    binutils:
      buildable: false
      externals:
      - spec: binutils@2.27
        prefix: /usr
    bzip2:
      buildable: false
      externals:
      - spec: bzip2@1.0.6
        prefix: /usr
    curl:
      buildable: false
      externals:
      - spec: curl@7.61.1
        prefix: /usr
    diffutils:
      buildable: false
      externals:
      - spec: diffutils@3.3
        prefix: /usr
    elfutils:
      buildable: false
      externals:
      - spec: elfutils@0.176
        prefix: /usr
    epoxy:
      buildable: false
      externals:
      - spec: epoxy@1.5.2
        prefix: /usr
    findutils:
      buildable: false
      externals:
      - spec: findutils@4.5.11
        prefix: /usr
    gettext:
      buildable: false
      externals:
      - spec: gettext@0.19.8.1
        prefix: /usr
    ghostscript:
      buildable: false
      externals:
      - spec: ghostscript@9.25
        prefix: /usr
    git:
      buildable: false
      externals:
      - spec: git@2.29.1
        prefix: /usr/tce/packages/git/git-2.29.1
    gmake:
      buildable: false
      externals:
      - spec: gmake@4.2.1
        prefix: /usr
    groff:
      buildable: false
      externals:
      - spec: groff@1.22.2
        prefix: /usr
    graphviz:
      buildable: false
      externals:
      - spec: graphviz@2.30.1
        prefix: /usr
    libtool:
      buildable: false
      externals:
      - spec: libtool@2.4.2
        prefix: /usr
    libunwind:
      buildable: false
      externals:
      - spec: libunwind@8.0.1
        prefix: /usr
    libx11:
      buildable: false
      externals:
      - spec: libx11@1.20.4
        prefix: /usr
    m4:
      buildable: false
      externals:
      - spec: m4@1.4.16
        prefix: /usr
    ncurses:
      externals:
      - spec: ncurses@6.1.20180224+termlib abi=6
        prefix: /usr
      buildable: false
    perl:
      buildable: false
      externals:
      - spec: perl@5.16.3
        prefix: /usr
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@0.27.1
        prefix: /usr
    readline:
      buildable: false
      externals:
      - spec: readline@6.2
        prefix: /usr
    tar:
      buildable: false
      externals:
      - spec: tar@1.26
        prefix: /usr
    unzip:
      buildable: false
      externals:
      - spec: unzip@6.0
        prefix: /usr
    
    # Lock in versions of Devtools
    # Devtools are built on rzvernal for compatibility with both
    # rzvernal and rzadams.
    cmake:
      version: [3.24.2]
      buildable: false
      externals:
      - spec: cmake@3.24.2
        prefix: /usr/tce
    doxygen:
      version: [1.11.0]
      buildable: false
      externals:
      - spec: doxygen@1.11.0
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/latest/doxygen-1.11.0
    llvm:
      version: [18.0.0]
      buildable: false
      externals:
      - spec: llvm@18.0.0+clang+python %rocmcc@6.2.1
        prefix: /usr/tce/packages/rocmcc/rocmcc-6.2.1-magic/llvm
      - spec: llvm@18.0.0+clang+python %rocmcc@6.3.1
        prefix: /usr/tce/packages/rocmcc/rocmcc-6.3.1-magic/llvm
    py-shroud:
      version: [0.13.0]
      buildable: false
      externals:
      - spec: py-shroud@0.13.0
        prefix: /collab/usr/gapps/shroud/public/toss_4_x86_64_ib_cray/shroud-0.13.0
    py-sphinx:
      version: [8.0.2]
      buildable: false
      externals:
      - spec: py-sphinx@8.0.2
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/latest/python-3.12.5
    python:
      buildable: false
      externals:
      - spec: python@3.12.5
        prefix: /collab/usr/gapps/axom/devtools/toss_4_x86_64_ib_cray/latest/python-3.12.5
