*~
.deps/
.libs/
Makefile
Makefile.in
*.la
*.lo
*.o
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/libllnl_lustre_client.la
/libtool
/ldms-plugins-llnl-*.tar.gz
/ldms-plugins-llnl.spec
/.version
/stamp-h1
