name: CI Tests

on:
  pull_request:
  push:
    branches:
    - develop

# Cancel previous jobs if an update has been made to the pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/develop' }}

env:
  CLANG_DOCKER_IMAGE: seracllnl/tpls:clang-19_10-09-25_23h-54m
  GCC_DOCKER_IMAGE: seracllnl/tpls:gcc-14_10-09-25_23h-54m

jobs:
  # Hacky solution to reference env variables outside of `run` steps https://stackoverflow.com/a/74217028
  set_image_vars:
    runs-on: ubuntu-latest
    steps:
    - name: Do Nothing
      run: echo
    outputs:
      clang_docker_image: ${{ env.CLANG_DOCKER_IMAGE }}
      gcc_docker_image: ${{ env.GCC_DOCKER_IMAGE }}
  build_and_test:
    runs-on: ubuntu-24.04
    needs:
    - set_image_vars
    strategy:
      fail-fast: true
      matrix:
        build_type: [ Debug, Release ]
        config:
        - job_name: llvm@19.1.1, shared
          host_config: llvm@19.1.1.cmake
          compiler_image: ${{ needs.set_image_vars.outputs.clang_docker_image }}
          cmake_opts: "-DBUILD_SHARED_LIBS=ON"
        - job_name: gcc@14.2.0, shared
          host_config: gcc@14.2.0.cmake
          compiler_image: ${{ needs.set_image_vars.outputs.gcc_docker_image }}
          cmake_opts: "-DBUILD_SHARED_LIBS=ON"
        - job_name: llvm@19.1.1, static
          host_config: llvm@19.1.1.cmake
          compiler_image: ${{ needs.set_image_vars.outputs.clang_docker_image }}
        - job_name: gcc@14.2.0, static
          host_config: gcc@14.2.0.cmake
          compiler_image: ${{ needs.set_image_vars.outputs.gcc_docker_image }}
    name: ${{ matrix.build_type }} - ${{ matrix.config.job_name }}
    container:
      image: ${{ matrix.config.compiler_image }}
      volumes:
      - /home/serac/serac
      # Required - default is set to user "serac"
      options: --user root
    steps:
      - name: Checkout Gretl
        uses: actions/checkout@v4
        with: 
          submodules: recursive
      - name: Print Matrix Variables
        run: |
          echo "build_src_opts ${{ matrix.config.build_src_opts }}"
          echo "build_type     ${{ matrix.build_type }}"
          echo "cmake_opts     ${{ matrix.config.cmake_opts }}"
          echo "compiler_image ${{ matrix.config.compiler_image }}"
          echo "host_config    ${{ matrix.config.host_config }}"
      - name: Build and Test ${{ matrix.build_type }} - ${{ matrix.config.job_name }}
        timeout-minutes: 80
        run: |
          HOST_CONFIG=${{ matrix.config.host_config }} \
          CMAKE_EXTRA_FLAGS=" ${{ matrix.config.cmake_opts }} " \
          BUILD_TYPE=${{ matrix.build_type }} \
          ./scripts/github-actions/linux-build_and_test.sh
      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        with:
          name: Test Results ${{ matrix.config.host_config }} ${{ matrix.build_type }} ${{ matrix.config.cmake_opts }}
          path: "**/Test.xml"
  check_code:
    runs-on: ubuntu-24.04
    needs:
    - set_image_vars
    strategy:
      # If any of checks (e.g. style) fail, allow other jobs to continue running.
      fail-fast: false
      matrix:
        check_type: [style, header]
    container:
      image: ${{ needs.set_image_vars.outputs.clang_docker_image }}
      volumes:
      - /home/serac/serac
      # Required - default is set to user "serac"
      options: --user root
      env:
        CHECK_TYPE: ${{ matrix.check_type }}
        HOST_CONFIG: llvm@19.1.1.cmake
    steps:
    - name: Checkout Gretl
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Check ${{ matrix.check_type }}
      run: ./scripts/github-actions/linux-check.sh 
