#
# Purpose: Use this config file to generate trento h5-files used by src/ezQ_trentPaths.py.
#          The trento package is available from https://github.com/Duke-QCD/trento.
# Usage: [path-to-trento]/trento -c trento_PbPb_10k_h5.config
#
# Approximate nuclei values from
projectile = Pb
projectile = Pb
number-events = 10000

# set seed and send metadata to hdf5
random-seed = 12345
quiet = true
output = trento_PbPb_10k.h5

# parameters from https://doi.org/10.1103/PhysRevC.103.054904
reduced-thickness = 0
fluctuation = 1
nucleon-width = 1
nucleon-min-dist = 1.4
cross-section = 6.4
