[submodule "2025-HPDC/tutorial-code/thicket-tutorial"]
	path = 2025-HPDC/tutorial-code/thicket-tutorial
	url = https://github.com/LLNL/thicket-tutorial.git
[submodule "2025-HPDC/tutorial-code/caliper-tutorial"]
	path = 2025-HPDC/tutorial-code/caliper-tutorial
	url = https://github.com/daboehme/caliper-tutorial.git
[submodule "2025-HPCIC/tutorial-code/caliper-tutorial"]
	path = 2025-HPCIC/tutorial-code/caliper-tutorial
	url = https://github.com/daboehme/caliper-tutorial.git
[submodule "2025-HPCIC/tutorial-code/thicket-tutorial"]
	path = 2025-HPCIC/tutorial-code/thicket-tutorial
	url = https://github.com/llnl/thicket-tutorial
[submodule "2025-eScience/tutorial-code/thicket-tutorial"]
	path = 2025-eScience/tutorial-code/thicket-tutorial
	url = https://github.com/llnl/thicket-tutorial
[submodule "2025-eScience/tutorial-code/caliper-tutorial"]
	path = 2025-eScience/tutorial-code/caliper-tutorial
	url = https://github.com/daboehme/caliper-tutorial.git
[submodule "latest/tutorial-code/thicket-tutorial"]
	path = latest/tutorial-code/thicket-tutorial
	url = https://github.com/llnl/thicket-tutorial
[submodule "latest/tutorial-code/caliper-tutorial"]
	path = latest/tutorial-code/caliper-tutorial
	url = https://github.com/daboehme/caliper-tutorial
[submodule "2026-RIKEN/tutorial-code/thicket-tutorial"]
	path = 2026-RIKEN/tutorial-code/thicket-tutorial
	url = https://github.com/llnl/thicket-tutorial.git
[submodule "2026-RIKEN/tutorial-code/caliper-tutorial"]
	path = 2026-RIKEN/tutorial-code/caliper-tutorial
	url = https://github.com/daboehme/caliper-tutorial.git
