# Python bytecode and serialized files
__pycache__/
*.py[cod]
*.pkl
*.db
*.npy
*.npz
*.hdf5
dist/
build/

# Egg packaging
*.egg
*.egg-info/

# Virtual environments
deepopt_venv/

# Jupyter
*.ipynb
*.ipynb_checkpoints

# Misc file extension types
*.ckpt
*.out
*.DS_Store
*.rdb
throwaway
