# Copyright (c) 2017-2025, Lawrence Livermore National Security, LLC and
# Axom Project Developers. See the top-level LICENSE file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)

spack:
  config:
    install_tree:
      root: $spack/..
      projections:
        all: '{compiler.name}-{compiler.version}/{name}-{version}-{hash}'
    misc_cache: $spack/../misc_cache
    test_stage: $spack/../test_stage
    build_stage::
    - $spack/../build_stage

  toolchains:
    clang_19:
    - spec: '%c=llvm'
      when: '%c'
    - spec: '%cxx=llvm'
      when: '%cxx'
    - spec: '%fortran=gcc@13.3.1'
      when: '%fortran'
    - spec: '%mpich'
      when: '%mpi'
    gcc_13:
    - spec: '%c=gcc@13.3.1'
      when: '%c'
    - spec: '%cxx=gcc@13.3.1'
      when: '%cxx'
    - spec: '%fortran=gcc@13.3.1'
      when: '%fortran'
    - spec: '%mpich'
      when: '%mpi'

  # Regular TPLs do not need views
  view: false

  include:
  - ../defaults.yaml
  - ../versions.yaml

  packages:
    all:
      target: [x86_64]
      providers:
        awk: [gawk]
        blas: [openblas]
        lapack: [openblas]
        daal: [intel-daal]
        elf: [elfutils]
        golang: [gcc]
        ipp: [intel-ipp]
        java: [jdk]
        mkl: [intel-mkl]
        mpe: [mpe2]
        mpi: [mpich]
        opencl: [pocl]
        openfoam: [openfoam-com, openfoam-org, foam-extend]
        pil: [py-pillow]
        scalapack: [netlib-scalapack]
        szip: [libszip, libaec]
        tbb: [intel-tbb]
        jpeg: [libjpeg-turbo, libjpeg]

    #Compiler packages
    gcc:
      externals:
      - spec: gcc@13.3.1 languages:=c,c++,fortran
        prefix: /usr/bin
        extra_attributes:
          compilers:
            c: /usr/bin/gcc
            cxx: /usr/bin/g++
            fortran: /usr/bin/gfortran-13
        flags:
          cflags: -pthread
          cxxflags: -pthread
      - spec: gcc@11.4.0 languages:=c,c++,fortran
        prefix: /usr/bin
        extra_attributes:
          compilers:
            c: /usr/bin/gcc
            cxx: /usr/bin/g++
            fortran: /usr/bin/gfortran-11
        flags:
          cflags: -pthread
          cxxflags: -pthread
    llvm:
      externals:
      - spec: llvm@19.0.0+clang~lld~lldb
        prefix: /usr/lib/llvm-19
        extra_attributes:
          compilers:
            c: /usr/lib/llvm-19/bin/clang
            cxx: /usr/lib/llvm-19/bin/clang++
          # Axom example sidre_shocktube_F_ex doesn't link otherwise
          flags:
            cflags: -fPIC -pthread
            cxxflags: -fPIC -pthread

    # Use spack-built mpich.
    # Ubuntu 24.04's mpich has unit test failures.
    mpi:
      require: "mpich@4.2.0"

    # System level packages to not build
    autotools:
      buildable: false
      externals:
      - spec: autotools@20220109.1
        prefix: /usr
    bzip2:
      buildable: false
      externals:
      - spec: bzip2@1.0.8
        prefix: /usr
    curl:
      buildable: false
      externals:
      - spec: curl@7.81.0
        prefix: /usr
    diffutils:
      buildable: false
      externals:
      - spec: diffutils@3.8
        prefix: /usr
    gettext:
      buildable: false
      externals:
      - spec: gettext@0.21
        prefix: /usr
    lua:
      buildable: false
      externals:
      - spec: lua@5.2.4
        prefix: /usr
    m4:
      buildable: false
      externals:
      - spec: m4@1.4.18
        prefix: /usr
    perl:
      buildable: false
      externals:
      - spec: perl@5.34.0
        prefix: /usr
    pkg-config:
      buildable: false
      externals:
      - spec: pkg-config@0.29.2
        prefix: /usr
    tar:
      buildable: false
      externals:
      - spec: tar@1.34
        prefix: /usr
    graphviz:
      buildable: false
      externals:
      - spec: graphviz@2.42.2
        prefix: /usr
    openblas:
      buildable: false
      externals:
      - spec: openblas@0.3.20
        prefix: /usr

    # Some additional platform-specific constraints for third party libraries
    # do shared mfem to allow PIC flag in mfem
    mfem:
      require: 
      - spec: "+shared~static"
    # Umpire must be shared when building Axom as a shared library. See PR #1271 for more details.
    umpire:
      require:
      - spec: "+shared"

    # Globally lock in version of devtools
    cmake:
      version: [3.23.1]
      buildable: false
      externals:
      - spec: cmake@3.23.1
        prefix: /usr/local
    doxygen:
      version: [1.9.1]
      buildable: false
      externals:
      - spec: doxygen@1.9.1
        prefix: /usr
    py-sphinx:
      version: [4.3.2]
      buildable: false
      externals:
      - spec: py-sphinx@4.3.2
        prefix: /usr
