*__pycache__*
*.sif
*.zip
*.DS_Store*
/singularity/.vagrant*
/temp*
slurm_logs
other_slurm_logs
hpc_logs
*.ipynb_checkpoints*
/cap/temp*
/singularity/vm_shared/cap_test
/cap/venv
*.parquet
*.pkl
*.pq
*.core
*.squash
*.tar
singularity/vm_shared/singtodock/data
singularity/vm_shared/libinfo
*.buildlog
err.log
poseidon/envlibs/*
counting_lines