name: ci

on:
  push:
    branches:
      - devel
  pull_request:
    branches:
      - devel

permissions:
  contents: read
  packages: read

concurrency:
  group: ci-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

jobs:
  spindle-serial-ubuntu:
    name: Testsuite (Serial, Ubuntu)
    environment: Spindle CI
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Check out Spindle
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Docker Compose
        uses: docker/setup-compose-action@364cc21a5de5b1ee4a7f5f9d3fa374ce0ccde746
        with:
          version: latest

      - name: Build spindle-serial-ubuntu image
        id: serial-ubuntu-build
        run: |
          cd containers/spindle-serial-ubuntu
          docker compose --progress=plain build

      - name: Bring spindle-serial-ubuntu up
        id: serial-ubuntu-up
        run: |
          cd containers/spindle-serial-ubuntu
          docker compose up -d

      - name: Verify munge works in spindle-serial-ubuntu
        id: serial-ubuntu-munge
        run: |
          docker exec spindlenode bash -c 'munge -n | unmunge'

      - name: Run spindle-serial-ubuntu testsuite
        id: serial-ubuntu-testsuite
        run: |
          docker exec spindlenode bash -c 'cd Spindle-build/testsuite && ./runTests'

      - name: Bring spindle-serial-ubuntu down
        id: serial-ubuntu-down
        if: ${{ always() }}
        continue-on-error: true
        run: |
          cd containers/spindle-serial-ubuntu
          docker compose down

  spindle-flux-ubuntu:
    name: Testsuite (Flux, Ubuntu)
    environment: Spindle CI
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Check out Spindle
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Docker Compose
        uses: docker/setup-compose-action@364cc21a5de5b1ee4a7f5f9d3fa374ce0ccde746
        with:
          version: latest

      - name: Build spindle-flux-ubuntu image
        id: flux-ubuntu-build
        run: |
          cd containers/spindle-flux-ubuntu
          docker compose --progress=plain build

      - name: Bring spindle-flux-ubuntu up
        id: flux-ubuntu-up
        run: |
          cd containers/spindle-flux-ubuntu
          docker compose up -d --wait --wait-timeout 60

      - name: Verify munge works in spindle-flux-ubuntu
        id: flux-ubuntu-munge
        run: |
          docker exec node-1 bash -c 'munge -n | unmunge'

      - name: Run spindle-flux-ubuntu testsuite
        id: flux-ubuntu-testsuite
        run: |
          docker exec node-1 bash -c 'cd Spindle-build/testsuite && flux alloc --nodes=${workers} ./runTests --nodes=${workers} --tasks-per-node=3'

      - name: Bring spindle-flux-ubuntu down
        id: flux-ubuntu-down
        if: ${{ always() }}
        continue-on-error: true
        run: |
          cd containers/spindle-flux-ubuntu
          docker compose down

  spindle-slurm-ubuntu:
    name: Testsuite (Slurm, Ubuntu)
    environment: Spindle CI
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Check out Spindle
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Docker Compose
        uses: docker/setup-compose-action@364cc21a5de5b1ee4a7f5f9d3fa374ce0ccde746
        with:
          version: latest

      - name: Login to GitHub Container Registry
        if: ${{ !env.ACT }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate MariaDB configuration
        id: slurm-ubuntu-mariadb
        run: |
          cd containers/spindle-slurm-ubuntu/testing
          ./generate_config.sh

      - name: Build spindle-slurm-ubuntu image
        id: slurm-ubuntu-build
        run: |
          cd containers/spindle-slurm-ubuntu/testing
          docker compose --progress=plain build

      - name: Bring spindle-slurm-ubuntu up
        id: slurm-ubuntu-up
        run: |
          cd containers/spindle-slurm-ubuntu/testing
          docker compose up -d --wait --wait-timeout 120

      - name: Verify munge works in spindle-slurm-ubuntu
        id: slurm-ubuntu-munge
        run: |
          docker exec slurm-head bash -c 'munge -n | unmunge'

      - name: Run spindle-slurm-ubuntu testsuite
        id: slurm-ubuntu-testsuite
        run: |
          docker exec slurm-head bash -c 'cd Spindle-build/testsuite && salloc -n${workers} -N${workers} ./runTests ${workers}'

      - name: Bring spindle-slurm-ubuntu down
        id: slurm-ubuntu-down
        if: ${{ always() }}
        continue-on-error: true
        run: |
          cd containers/spindle-slurm-ubuntu/testing
          docker compose down

