ai_sdk_vector_store/
ai_sdk_sample_data/
node_modules/
__pycache__/
embeddings/
uploads/
reports/
tests/
logs/
venv/
env/
.vscode/
google_service_account.json
chatbot_config.env
package-lock.json
sdk_config.env
.DS_Store
*.pem
*.crt
*.key
